.fit{
    color: white;
    margin: 0px auto;
    width: 700px;
    /* border: 2px solid blue; */
    padding: 35px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.go{
     font-family: 'Poppins', sans-serif;
}

.what{
    color: white;
    margin: auto;
    width: 700px;
    /* border: 2px solid blue; */
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.div{
    margin: auto;
    width: 700px;
    /* border: 2px solid blue; */
    padding: 20px;
    border-radius: 20px;
    color: white;
}
#gym{
    color: white;
    text-align: center;
}
#head{
    text-align: center;
}
#imp{
    text-align: center;
}
img{
    width: 90px;
    filter: invert(100%);
    border: 2px solid red;
}
.header{
    font-family: 'Encode Sans SC', sans-serif;
    margin: 10px;
}
.left{
    color: white;
      /* border: 2px solid green; */
      display: inline-block;
      position: absolute;
      top:12px;
      left: 34px;
      /* font-family: 'Poppins', sans-serif; */
    }
    .mid{
        /* background: linear-gradient(black,white); */
        background-color:  #5a4c41c4;
        width: 30%;
        color: white;
        /* border: 2px solid yellow; */
        margin:12px auto;
        width: 870px;
       border-radius: 15px;  
        }
        .navbar{
            display: inline-block;
            /* margin: 200px; */
        }
        .navbar li{
            display: inline-block;
             font-size: 23px;
             
        }
        .navbar li a{
            color: white;
            text-decoration: none;
            margin: 0px 40px;
            padding: 0px 13px;
            /* font-family: 'Poppins', sans-serif; */
            font-size: 25px;
        }
#stay{ 
    text-align: center;
    /* border: 2px solid black; */
    /* font-family: 'Poppins', sans-serif; */
}

body{
  font-size: 23px;
    background: linear-gradient(rgb(140 71 71), rgb(70, 70, 61));
}